/* Reusable components */
.page-header {
    font-family: 'franklin_gothic_fsbook', Helvetica, sans-serif;
}

.border {
    padding-bottom: 9px;
    border-bottom: 1px solid #eee;
}

.no-border {
    border-bottom: none!important;
}

.full-width {
    width: 100%!important;
}

.error-container {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert .glyphicon {
    margin-right: 10px;
}

/* Homepage */
.itemSection {
    height: 350px;
    background-color: #000000;
}

.no-margin {
    margin-bottom: 0;
}

.item {
    height: 250px;
    width: 250px;
    background-color: #dbdbdb;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    display: flex;
    align-items: center;
    justify-content: center;
}


.item .icon-container {
    text-align: center;
    height: 200px;
    width: 200px;
    background-color: #c7254e;
}

.item .glyphicon {
    line-height: 200px;
    font-size: 150px;
    color: #ffffff;
}
.text-container {
    width: 250px;
}

.item > .text-container {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 15px 10px;
    background: linear-gradient(rgba(255, 255, 255, .8), rgba(255,255,255,.75), rgba(255, 255, 255, .5));
}
.text-container::before {
    content: "";
    width: 100%;
    height: 100%;
    background: inherit;
    background-attachment: fixed;
    -webkit-filter: blur(100px);
    filter: blur(100px);
}

.itemSection {
    height: 350px;
    background-color: #000000;
}

.no-margin {
    margin-bottom: 0;
}

/**
* Item row
 */

.item-row {
    display: flex;
    align-items: center;
    background-color: #ececec;
    margin-top: 15px;
    margin-bottom: 15px;
}

.search-item {
    height: 100px;
    width: 100px;
    background-color: #dbdbdb;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    display: flex;
    align-items: center;
    justify-content: center;
}


.search-item .icon-container {
    text-align: center;
    height: 75px;
    width: 75px;
    background-color: #c7254e;
}

.search-item .glyphicon {
    line-height: 75px;
    font-size: 50px;
    color: #ffffff;
}

.product-text {
    font-family: 'franklin_gothic_fsbook', Helvetica, sans-serif;
}

.product-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dbdbdb;
    width: 375px;
    height: 375px;
    margin-bottom: 15px;
}

.product-image div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 325px;
    height: 325px;
    background-color: #c7254e;
    color: #FFF;
    font-size: 250px;
}

.product-details {
    width: 100%;
    background-color: #ECECEC;
    color: #000;
}

.product-details .header {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    line-height: 50px;
    width: 100%;
    height: 50px;
    color: #FFF;
    background-color: #000;
}

.product-details .content {
    padding: 20px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;
}


.product-details .content .FranklinDemi span {
    font-family: 'franklin_gothic_fsbook', Helvetica, sans-serif
}

.product-details .btn {
    width: 100%;
    border-radius: 0;
}

.error:before {
    content:"*"

}

/** Form validation **/
.has-error {
    color: #a94442;
}

/* Profile */

.profile-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 375px;
}

.profile-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 150px;
    color: #fff;
    width: 300px;
    height: 300px;
    border-radius: 500px;
    background-color: #c7254e;
}

#passwordProfile span {
    display: none;
}

#passwordProfile:hover span{
    display:block!important;
}