<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Shopping Cart</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="page-header">Your shopping cart:</h1>
            </div>

            <div class="col-xs-12">
                <div th:switch="${cartProducts.isEmpty()}">
                    <div th:case="${false}" class="table">
                        <table class="table table-condensed table-bordered">
                            <thead>
                            <tr>
                                <th><h4 class="FranklinDemi">Product</h4></th>
                                <th><h4 class="FranklinDemi">Price</h4></th>
                                <th><h4 class="FranklinDemi">Quantity</h4></th>
                                <th><h4 class="FranklinDemi">Total</h4></th>
                                <th><h4 class="FranklinDemi"></h4></th>
                                <th><h4 class="FranklinDemi"></h4></th>
                            </tr>
                            </thead>


                            <div th:each="product: ${cart.getProducts()}" class="table">
                                <form th:action="@{/cart/product_id/}" method="POST">
                                    <input type="hidden" th:name="product_id" th:value="${product.product_id}"/>
                                <tr>
                                    <td>
                                        <h5 class="FranklinDemi" th:text="${product.name}"></h5>
                                    </td>
                                    <td>
                                        <h5 class="FranklinDemi"> $<span th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 2, 'POINT')}"/></h5>
                                    </td>
                                    <td>
                                        <input type = "number" min = "1" class="form-control" th:name="quantity" th:value="${cart.productList.get(product)}"/>
                                    </td>
                                    <td>
                                        <div th:with="result=${product.price * cart.productList.get(product)}">
                                            <h5 class="FranklinDemi"> $<span th:text="${#numbers.formatDecimal(result, 0, 'COMMA', 2, 'POINT')}"/></h5>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <button class = "btn btn-lg btn-primary" name="action" value="update">Update</button>
                                    </td>
                                    <td class="text-center">
                                        <button class = "btn btn-lg btn-danger" name="action" value="delete">Delete</button>
                                    </td>

                                </tr>
                                </form>
                            </div>
                        </table>
                        <form class="panel-body" action="#" th:action="@{/cart}" method="post">
                            <button class="btn btn-lg btn-primary" type="submit" value="save">Place Order</button>
                        </form>



                    </div>
                    <div class="text-center" th:case="${true}" >
                            <span style="font-size: 75px;">
                    <i class="glyphicon glyphicon-exclamation-sign"></i>
                            </span>
                        <h2 class="page-header no-border">
                            <i class="fa fa-frown-o"></i>
                            Your shopping cart is currently empty!
                            <br />
                            <small>You can search for products and add them to your cart.</small>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>