<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorator="layout">
<head>
    <meta charset="UTF-8"/>
    <title>Manage Products</title>
    <th:block layout:fragment="css">
        <link rel="stylesheet" type="text/css"
              href="/css/owl.carousel.min.css"/>
        <link rel="stylesheet" type="text/css"
              href="/css/owl.theme.default.min.css"/>
    </th:block>
</head>
<body>
<div layout:fragment="content">
    <div class="container-fluid">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <span> Manage Products</span>
                <span class="pull-right dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false" th:text="${CurrentStore}">
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu scrollable-menu">
                        <li><a th:href="@{__${store.store_id}__}" th:each="store: ${StoreList}" th:text="${store.name}"></a></li>
                    </ul>
                </span>
                <!--<a href="edit.html" th:href="@{__${CurrentStoreId}}__}"><span class="caret"></span></a>-->
            </div>

            <!-- Table -->
            <table class="table">
                <tr>
                    <!--<th>Product Id</th>-->
                    <th>Name</th>
                    <th>Price</th>
                    <th>Aisle</th>
                    <th>Quantity</th>
                </tr>
                <tr th:each="info: ${ProductInfos}">
                    <form>
                        <!--<td th:text="${info.product_id}"></td>-->
                        <td><input th:field="${info.name}" /></td>
                        <td><input th:field="${info.price}" /></td>
                        <td><input th:field="${info.aisle}" /></td>
                        <td><input th:field="${info.qty}" /></td>
                        <td><span class="glyphicon glyphicon-floppy-disk"></span></td>
                    </form>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>