<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorator="layout">
<head>
    <meta charset="UTF-8"/>
    <title>Manage Products</title>
    <th:block layout:fragment="css">
        <link rel="stylesheet" type="text/css"
              href="/css/owl.carousel.min.css"/>
        <link rel="stylesheet" type="text/css"
              href="/css/owl.theme.default.min.css"/>
    </th:block>
</head>
<body>
<div layout:fragment="content">
    <div class="container-fluid">
        <div class="panel panel-default">

            <!-- Mange Product Panel Heading -->
            <div class="panel-heading">
                <div class="row">
                    <h1 class="col-xs-5">Edit <span th:text="${CurrentStore}"/>'s Inventory</h1>
                    <h1 class="col-xs-offset-3 col-xs-4">
                        <div class="pull-right btn-group" role="group" aria-label="...">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default dropdown-toggle"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Change Store
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu scrollable-menu">
                                    <li><a th:href="@{/edit/{storeId}(storeId=${store.store_id})}" th:each="store: ${StoreList}" th:text="${store.name}"></a></li>
                                </ul>
                            </div>
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#AddProductModal">
                                <span class="glyphicon glyphicon-plus"/>
                            </button>
                            <a type="button" class="btn btn-default" th:href="@{/manage/{storeId}(storeId=${CurrentStoreId})}">
                                <span class="glyphicon glyphicon-lock"/>
                            </a>
                        </div>
                    </h1>
                </div>
            </div>

            <!-- Product Info Table -->
            <table class="table">
                <tr>
                    <!--<th>Product Id</th>-->
                    <th>Name</th>
                    <th>Price</th>
                    <th>Aisle</th>
                    <th>Quantity</th>
                </tr>
                <tr th:each="info, stat: ${ProductInfos}">
                    <form class="panel-body" action="#" th:action="@{/edit}" th:object="${ProductInfo}" method="post">
                        <td class="hidden">
                            <input type="text" th:name="product_id" th:id="product_id+__${stat.index}__"
                                   class="form-control"
                                   aria-label="Amount (to the nearest dollar)"
                                   th:value="${info.product_id}"
                            />
                        </td>
                        <td class="col-xs-7">
                            <div class="input-group" style="width: 100%">
                                <input type="text" th:name="name" th:id="name+__${stat.index}__" class="form-control"
                                       aria-label="Amount (to the nearest dollar)"
                                       th:value="${info.name}"
                                />
                            </div>
                        </td>

                        <td class="col-xs-2">
                            <div class="input-group" style="width: 100%">
                                <input type="number" th:name="price" th:id="price+__${stat.index}__" class="form-control"
                                       aria-label="Amount (to the nearest dollar)"
                                       th:value="${info.price}"
                                />
                            </div>
                        </td>

                        <td class="col-xs-1">
                            <div class="input-group" style="width: 100%">
                                <input type="number"  th:name="aisle" th:id="aisle+__${stat.index}__" class="form-control"
                                       aria-label="Amount (to the nearest dollar)"
                                       th:value="${info.aisle}"
                                />
                            </div>
                        </td>

                        <td class="col-xs-1">
                            <div class="input-group" style="width: 100%">
                                <input type="number" th:name="qty" th:id="qty+__${stat.index}__" class="form-control"
                                       aria-label="Amount (to the nearest dollar)"
                                       th:value="${info.qty}"
                                />
                            </div>
                        </td>
                        <td class="col-xs-1">
                            <button class="btn btn-default" type="submit" value="save">
                                <span class="glyphicon glyphicon-floppy-disk"/>
                            </button>
                        </td>

                    </form>
                </tr>
            </table>
        </div>

    </div>

    <!-- Add Product Modal -->
    <div class="modal fade" id="AddProductModal" tabindex="-1" role="dialog" aria-labelledby="AddProductModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="panel panel-default">
                        <div class="panel-heading">Add Product</div>
                        <form class="panel-body" action="#" th:action="@{/add}" th:object="${ProductInfo}" method="post">
                            <div class="input-group">
                                <span class="input-group-addon" id="sizing-addon2">Product Id</span>
                                <input type="text" th:field="*{product_id}" class="form-control"
                                       aria-label="Amount (to the nearest dollar)"
                                       placeholder="000000000000000"
                                />
                            </div>
                            <div class="alert alert-danger alert-dismissible" role="alert" th:if="${#fields.hasErrors('product_id')}">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <strong>ERROR!</strong> <span th:errors="*{product_id}"></span>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="sizing-addon2">Name</span>
                                <input type="text" th:field="*{name}" class="form-control"
                                       aria-label="Amount (to the nearest dollar)"
                                       placeholder="Product Name"
                                />
                            </div>
                            <div class="alert alert-danger alert-dismissible" role="alert" th:if="${#fields.hasErrors('name')}">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <strong>ERROR!</strong> <span th:errors="*{name}"></span>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">$</span>
                                <input type="number" th:field="*{price}" class="form-control"
                                       aria-label="Amount (to the nearest dollar)"
                                       placeholder="1.00"
                                />
                            </div>
                            <div class="alert alert-danger alert-dismissible" role="alert" th:if="${#fields.hasErrors('price')}">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <strong>ERROR!</strong> <span th:errors="*{price}"></span>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="sizing-addon2">Quantity</span>
                                <input type="number" th:field="*{qty}" class="form-control"
                                       aria-label="Amount (to the nearest dollar)"
                                       placeholder="1"
                                />
                            </div>
                            <div class="alert alert-danger alert-dismissible" role="alert" th:if="${#fields.hasErrors('qty')}">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <strong>ERROR!</strong> <span th:errors="*{qty}"></span>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="sizing-addon2">Aisle</span>
                                <input type="number" th:field="*{aisle}" class="form-control"
                                       aria-label="Amount (to the nearest dollar)"
                                       placeholder="0"
                                />
                            </div>
                            <div class="alert alert-danger alert-dismissible" role="alert" th:if="${#fields.hasErrors('aisle')}">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <strong>ERROR!</strong> <span th:errors="*{aisle}"></span>
                            </div>
                            <button class="btn btn-md btn-primary pull-right" type="submit" value="save">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>