<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head lang="en">

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>GroceryApp</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="/css/typography.css" type="text/css" />
        <link rel="stylesheet" type="text/css"
              href="/css/layout.css"/>

        <link rel="stylesheet" type="text/css"
              href="/fonts/Franklin Gothic FS Book-Webfont/Webfonts/franklingothicfs_book_macroman/stylesheet.css"/>

        <link rel="stylesheet" type="text/css"
              href="/fonts/Franklin Gothic FS Demi-Webfont/Webfonts/franklingothicfs_demi_macroman/stylesheet.css"/>

        <link rel="stylesheet" type="text/css"
              href="/fonts/Franklin%20Gothic%20FS%20Book%20Italic-Webfont/Webfonts/franklingothicfs_bookitalic_macroman/stylesheet.css"/>

        <th:block layout:fragment="css"></th:block>

    </head>

    <body>
        <div id="pageheader">
            <nav class="navbar navbar-default no-margin">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand FranklinDemi" href="/">
                            <span class="glyphicon glyphicon-shopping-cart"></span>
                            GroceryApp</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse FranklinRegular" id="nav-collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
                        </ul>
                        <form class="navbar-form navbar-left" action="#"
                              th:action="${#authentication.isAuthenticated()} ? @{/search?prefStore={id}(id=${storeId})} : @{/search/}"
                              method="GET">
                            <div class="form-group">
                                <input type="text" minlength="1"
                                       class="form-control"
                                       th:name="query"
                                       th:value="${searchTerm}"
                                       required="required"
                                       placeholder="Search" />
                            </div>
                            <button type="submit" class="btn btn-default FranklinDemi">Submit</button>
                        </form>
                        <ul class="nav navbar-nav navbar-right">

                            <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart</a></li>
                            <li class="dropdown">
                                <a href="#" style="vertical-align: middle;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <span sec:authorize="isAuthenticated()">
                                        <span class="glyphicon glyphicon-user"></span>
                                        <span sec:authentication="name"></span>
                                    </span>
                                    <span sec:authorize="isAnonymous()">Account</span>
                                    <span class="caret"></span></a>
                                <ul class="dropdown-menu" th:fragment="logout">
                                    <li sec:authorize="isAnonymous()"><a th:href="@{/login}">Login</a></li>
                                    <li sec:authorize="isAnonymous()"><a th:href="@{/register}">Create an account</a></li>
                                    <li sec:authorize="isAuthenticated()"><a href="#">Profile</a></li>

                                    <li sec:authorize="isAuthenticated()" role="separator" class="divider"></li>
                                    <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>

                                </ul>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </div>

        <div id="body" layout:fragment="content">

        </div>

        <footer id="footer">
            <script type="text/javascript" src="/scripts/jquery-3.1.1.min.js"></script>
            <script type="text/javascript" src="/scripts/bootstrap.min.js"></script>
            <th:block layout:fragment="scripts"></th:block>
        </footer>
    </body>
</html>