<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorator="layout">
<head>
    <meta charset="UTF-8"/>
    <title>Manage Products</title>
    <th:block layout:fragment="css">
        <link rel="stylesheet" type="text/css"
              href="/css/owl.carousel.min.css"/>
        <link rel="stylesheet" type="text/css"
              href="/css/owl.theme.default.min.css"/>
    </th:block>
</head>
<body>
<div layout:fragment="content">
    <div class="container-fluid">
        <div class="panel panel-default">
            <!-- Mange Product Panel Heading -->
            <div class="panel-heading">
                <div class="row">
                    <h1 class="col-xs-5"><span th:text="${CurrentStore}"/>'s Inventory</h1>
                    <h1 class="col-xs-offset-3 col-xs-4">
                        <div class="pull-right btn-group" role="group" aria-label="...">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default dropdown-toggle"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Change Store
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu scrollable-menu">
                                    <li><a th:href="@{/manage/{storeId}(storeId=${store.store_id})}" th:each="store: ${StoreList}" th:text="${store.name}"></a></li>
                                </ul>
                            </div>
                            <a type="button" class="btn btn-default" th:href="@{/edit/{storeId}(storeId=${CurrentStoreId})}">
                                <span class="glyphicon glyphicon-cog"/>
                            </a>
                        </div>
                    </h1>
                </div>
            </div>

            <!-- Product Info Table -->
            <table class="table">
                <tr>
                    <!--<th>Product Id</th>-->
                    <th>Name</th>
                    <th>Price</th>
                    <th>Aisle</th>
                    <th>Quantity</th>
                </tr>
                <tr th:each="info: ${ProductInfos}">
                    <!--<td th:text="${info.product_id}"></td>-->
                    <td th:text="${info.name}"></td>
                    <td th:text="${info.price}"></td>
                    <td th:text="${info.aisle}"></td>
                    <td th:text="${info.qty}"></td>
                </tr>
            </table>
        </div>

    </div>
</div>
</body>
</html>