<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en"
      layout:decorator="layout">
<head>
    <meta charset="UTF-8"/>
    <title>Manage Products</title>
    <th:block layout:fragment="css">
        <link rel="stylesheet" type="text/css"
              href="/css/owl.carousel.min.css"/>
        <link rel="stylesheet" type="text/css"
              href="/css/owl.theme.default.min.css"/>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
        <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    </th:block>
</head>
<body>
<div layout:fragment="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div style="margin-top:20px;" class="panel panel-default">
                    <!-- Mange Product Panel Heading -->
                    <div class="panel-heading">
                        <div class="row">
                            <h1 class="col-xs-5"><span th:text="${CurrentStore}"/>'s Inventory</h1>
                            <h1 class="col-xs-offset-3 col-xs-4">
                                <div class="pull-right btn-group" role="group" aria-label="...">
                                    <div sec:authorize="hasAuthority(2)" class="btn-group" role="group">
                                        <button type="button" class="btn btn-default dropdown-toggle"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Change Store
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu scrollable-menu">
                                            <li><a th:href="@{/manage/{storeId}(storeId=${store.store_id})}" th:each="store: ${StoreList}" th:text="${store.name}"></a></li>
                                        </ul>
                                    </div>
                                    <a type="button" class="btn btn-default" th:href="@{/edit/{storeId}(storeId=${CurrentStoreId})}">
                                        <span class="glyphicon glyphicon-cog"/>
                                    </a>
                                </div>
                            </h1>
                        </div>
                    </div>

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <!-- Product Info Table -->
                                <table id="#productInfo" class="table table-hover table-striped">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Price</th>
                                        <th>Aisle</th>
                                        <th>Quantity</th>
                                    </tr>
                                    <!--<th>Product Id</th>-->

                                    </thead>
                                    <tbody>
                                    <tr th:each="info: ${ProductInfos}">
                                        <!--<td th:text="${info.product_id}"></td>-->
                                        <td th:text="${info.name}"></td>
                                        <td th:text="${info.price}"></td>
                                        <td th:text="${info.aisle}"></td>
                                        <td th:text="${info.qty}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>
</div>
</body>

<th:block layout:fragment="scripts">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("table").DataTable();
        });
    </script>
</th:block>
</html>