<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="layout">
<head>
    <title></title>
    <th:block layout:fragment="css">
    </th:block>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="page-header" th:text="${product.name}">: </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="product-image">
                    <div>
                        <span class="glyphicon glyphicon-qrcode"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-8">
                <h1 style="margin-top:0;" class="FranklinRegular">
                    Price: $<span th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 2, 'POINT')}"/>
                </h1>
                <div sec:authorize="isAuthenticated()" class="btn btn-lg btn-success">
                    Add to shopping cart
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>