<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Profile</title>
    <th:block layout:fragment="css">
    </th:block>
</head>
<body>
<div layout:fragment="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="page-header text-center">Welcome, <span th:text="${loggedUser.name}"></span>!</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 profile-hero">
                <div class="profile-circle">
                    <span class="glyphicon glyphicon-user"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <h2 class="FranklinDemi border">Your name: <span class="FranklinRegular" th:text="${loggedUser.name}"></span></h2>
            </div>
            <div class="col-sm-12">
                <h2 class="FranklinDemi border">Your username: <span class="FranklinRegular" th:text="${loggedUser.username}"></span></h2>
            </div>
            <div class="col-sm-12">
                <h2 class="FranklinDemi border" id="#ProfilePassword">Your password:
                    <!--<button id="#passwordProfile" class="btn btn-sm btn-primary">-->
                        <!--<span class="glyphicon glyphicon-eye"></span>Show password-->
                    <!--</button>-->
                    <span class="FranklinRegular" th:text="${loggedUser.password}"></span>
                </h2>
            </div>
            <div class="col-sm-12">
                <h2 class="FranklinDemi border">Your phone number: <span class="FranklinRegular" th:text="${loggedUser.phone}"></span></h2>
            </div>
            <div class="col-sm-12">
                <h2 class="FranklinDemi border">Your address: <span class="FranklinRegular" th:text="${loggedUser.address}"></span></h2>
            </div>


        </div>
    </div>
</div>

</body>
<th:block layout:fragment="scripts">
    <script type="text/javascript">
        $(document).ready(function(){

//            $('#passwordProfile').click(function() {
//                $('.hide').fadeToggle();
//            });
        });
    </script>
</th:block>
</html>

